<div style="background-color: #7d7378; color: white;">
    <div class="container ">
      <footer class="py-5" >
        <div class="row">
          <div class="col-3">
            <h5>Acerca del proyecto</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Presentación</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Información General</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Aviso de Privacidad</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Términos y condiciones de uso</a></li>
            </ul>
          </div>
    
          <div class="col-6">
            <h5>Más información</h5>
            <p class="text-light">
              Sitio en desarrollo
            </p>
          </div>
    
          <div class="col-3">
            <h5>Contacto</h5>
              
          </div>
        </div>
    
        <div class="d-flex justify-content-between py-4 my-4 border-top">
          <div class="col-md-4 d-flex align-items-center">
            <a href="https://esfmx.com" class="text-muted text-decoration-none" style="margin-right:10px;">
              <img width="50" src="https://i.ibb.co/nzqPvdr/favicon.png" alt="CdP Logo">
            </a>
            <span class="text-light"> Hecho con ❤️ por <a href="https://esfmx.com" class="text-white">ESFM-X</a> </span>
          </div>
        </div>
      <div></div></footer>
    </div>
  </div>